.nodeBase {
  cursor: pointer;
  fill: rgb(137, 216, 134);
  stroke: #000;
  stroke-width: 2;
}

.leafNodeBase {
  cursor: pointer;
  fill: transparent;
  stroke: #000;
  stroke-width: 2;
}

.nodeNameBase {
  fill: rgb(83, 193, 212);
  stroke: #000;
  stroke-width: 1;
}

.nodeAttributesBase {
  fill: #777;
  stroke: #777;
  stroke-width: 1;
  font-size: smaller;
}
