body{
    background:black;
}

.node {
    cursor: pointer;
}

.node circle {
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
    fill: #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.tree {
    margin-bottom: 10px;
    overflow: auto;
}