/*  ************************************************************************
 * Created by Wontae Han, Alejandro Romero, Shafayat Alam and Jeff Schrock.
 * Copyright © 2018 De-Bux. All rights reserved.
 **************************************************************************/
.appWindow {
    color: #4d92f9;
} 

/* .mainDiv {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(200px, 1fr));
} */

.navBar {
    color: #4d92f9;
    border-bottom: solid 0.5px #4d92f9;
    margin-bottom: 2px;
}

.navBar h1{
    margin-bottom: 3px;
    margin-top: 3px;
}

.chartWindow {
    border: solid 0.5px;
    border-color: #4d92f9;
    width: 50%;
    height: 450px;
    margin: 2px;

}

.chartWindowDisplay {
    height: 425px;
    overflow: auto;
}

.chartWindowRaw {
    overflow: auto;
}

.infoWindow {
    border: solid 0.5px;
    border-color: #4d92f9;
    width: 50%;
    height: 200px; 
    margin: 2px;
    padding: 2px 2px 2px 2px;
    overflow:auto;
}

.logWindow {
    border: solid 0.5px;
    border-color: #4d92f9;
    width: 50%;
    height: 200px; 
    margin: 2px;
    padding: 2px 2px 2px 2px;
    overflow:auto;
}

.infoWindow span{
    margin: 2px 2px 2px 2px;  
}

.logWindow span{
    margin: 2px 2px 2px 2px; 
}

ul {
    list-style-type: none;
    padding-left: 0px;

}

.logs {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 5px;
}

.infoUL li {
    list-style-type: none;
    color:#75b766;
}


.stateAndProps {
    color: #75b766;
    font-weight: bold;
    font-size: 12px;
    margin: 2px;
    padding: 5px;
    border-bottom: solid 0.5px;
    border-color: #4d92f9;
    width: 90%;
}

.stateAndPropsDiv {
    overflow: auto;
}


.rowCols{
    display:flex; 
    flex-direction:row;
}

.toggle{
    display:flex; 
    flex-direction:row;
    padding: 2px 2px 2px 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    height: 18px;
    background-color: #1d2430;
}

.toggle span{
    font-size: 12px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    margin-bottom: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #232a35;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 12px;
    z-index: 1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    color: #4d92f9;
    padding: 8px 12px;
    display: block;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: #21262e;
}

i {
    border: solid #4d92f9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
  }
  .arrowDown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 2px;
}

.expandButton{
    background-color: #008CBA; 
    border: none;
    color: white;
    margin-right: 10px;
    /* float: right; */
}

/* .expandToggle{
    margin-left: 100px;
} */

.scrollbar {
    /* background-color: #F5F5F5; */
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: hidden;
    background-color: transparent;
}

.force-overflow {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color:transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}
